In [1]:
import pandas as pd

In [2]:
df_JD = pd.read_excel(r"D:\work\logistica\stations\JDStations\stations\website\JDstations_zhejiang_JD.xlsx")
df_baidu = pd.read_excel(r"D:\work\logistica\stations\JDStations\stations\baidu\JDstations_zhejiang_baidu.xlsx")
df_gaode = pd.read_excel(r"D:\work\logistica\stations\JDStations\stations\gaode\JDstations_zhejiang_gaode.xlsx")

In [3]:
df_JD.columns

Index(['ID', 'cityId', 'countyId', 'provinceId', 'siteAddress',
       'siteBusinessName', 'siteLatitude', 'siteLongitude', 'siteName',
       'siteTelephone'],
      dtype='object')

In [4]:
df_baidu.columns

Index(['ID', 'cityId', 'countyId', 'provinceId', 'siteAddress',
       'siteBusinessName', 'siteLatitude', 'siteLongitude', 'siteName',
       'siteTelephone', 'cityName', 'siteAddress_all',
       'siteComprehension_baidu', 'siteConfidence_baidu', 'siteLatitude_baidu',
       'siteLevel_baidu', 'siteLongitude_baidu', 'sitePrecise_baidu'],
      dtype='object')

In [5]:
df_gaode.columns

Index(['ID', 'cityId', 'countyId', 'provinceId', 'siteAddress',
       'siteBusinessName', 'siteName', 'siteTelephone', 'cityName',
       'siteAddress_all', 'siteAdcode_gaode', 'siteCity_gaode',
       'siteCountry_gaode', 'siteDistrict_gaode',
       'siteFormatted_address_gaode', 'siteLevel_gaode', 'siteLocation_gaode',
       'siteNumber_gaode', 'siteProvince_gaode', 'siteStreet_gaode',
       'siteTownship_gaode', 'siteLatitude_gaode', 'siteLongitude_gaode'],
      dtype='object')

In [6]:
print(df_JD.shape)
print(df_baidu.shape)
print(df_gaode.shape)

(447, 10)
(447, 18)
(447, 23)

In [7]:
df_check = pd.merge(pd.merge(df_JD,df_baidu,on='ID',how='inner'),df_gaode,on='ID',how='inner')

In [8]:
print(df_check.shape)

(447, 49)

In [9]:
df_check[['ID']]

      ID
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
..   ...
417  418
418  419
419  420
420  421
421  422
422  423
423  424
424  425
425  426
426  427
427  428
428  429
429  430
430  431
431  432
432  433
433  434
434  435
435  436
436  437
437  438
438  439
439  440
440  441
441  442
442  443
443  444
444  445
445  446
446  447

[447 rows x 1 columns]